{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class="alert alert-{{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="m-0 font-weight-bold text-primary">Tipos de Pessoas Cadastrados</h6>
                </div>
                <div class="col-sm-6">
                  <span class="float-right">
                    <a href="{% url 'url_persontype_create' %}">
                      <button type="button" class="btn btn-success">Adicionar
                      </button>
                    </a>
                  </span>
              </div>
            </div>
          </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-sm-center">Nome</th>                      
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th class="text-sm-center">Nome</th>                      
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for persontype in persontypes %}
                    <tr>
                      <td>{{ persontype.name }}</td>                      
                      <td><a href="{% url 'url_persontype_detail' persontype.id %}">Detalhes</a></td>
                      <td><a href="{% url 'url_persontype_edit' persontype.id %}">Editar</a></td>
                      <td><a href="{% url 'url_persontype_delete' persontype.id %}" onclick="return confirm('Tem certeza?')">Deletar</a></td>
                    </tr>                 
                    {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
             


{% endblock content %}

{% block js %}
<script src="{% static 'js/datatables_user.js'%}"> 
</script>
{% endblock js %}
    
