<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Colors">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title> {% block title %}
  {% endblock title %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'themeforest/img/core-img/favicon.ico'%}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'themeforest/style.css' %}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'themeforest/css/responsive.css' %}">
    

    <!-- NÃO FAZ PARTE DO THEMEFOREST -->
    <link href="{% static 'css/style.css'%}?{% now "U" %}" rel="stylesheet">
    
    <!-- DATATABLES -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    
    <!-- DATE PICKER JQUERY-->
    <link href="{% static 'vendor/jquery/jquery-ui/jquery-ui.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/jquery/jquery-ui/jquery-ui.structure.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/jquery/jquery-ui/jquery-ui.theme.min.css'%}" rel="stylesheet">  
    {% block css %}
    {% endblock css %}

    <!-- FIM NÃO FAZ PARTE DO THEMEFOREST -->

</head>

<body>
    <div class="page-wrapper">

        <!-- Page Top Bar Area -->
        <div class="page-top-bar-area d-flex align-items-center justify-content-between">

            <!-- Logo Trigger Area -->
            <div class="logo-trigger-area d-flex align-items-center">

                <!-- logo -->
                <a href="{% url 'home' %}" class="logo">
                   <span class="big-logo">
                       <img src="{% static 'themeforest/img/core-img/logo.png' %}" alt="">                       
                   </span>
                    <span class="small-logo">
                        <img src="{% static 'themeforest/img/core-img/logo2.png' %}" alt="">
                    </span>
                </a>

                <!-- Trigger -->
                <div class="top-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>           

            <!-- User Meta -->
            <div class="user-meta-data d-flex align-items-center">
                
                <!-- Profile -->
                <div class="topbar-profile">
                    <!-- Thumb -->
                    <div class="user---thumb">
                        <h6 style="color: white;">{{ user.first_name }}</h6>
                        {% comment %} {% if person.avatar %}
                            <img src="{{ person.avatar.url }}" alt="">                        
                        {% else %}
                            <img src="{% static 'themeforest/img/member-img/member-5.jpg' %}" alt="">
                        {% endif %} {% endcomment %}
                    </div>
                    <!-- Profile Data -->
                    <div class="profile-data">
                        <!-- Profile User Details -->
                        <div class="profile-user--details" >
                            <!-- Thumb -->
                            <div class="profile---thumb-det">
                                {% comment %} {% if person.avatar %}
                                    <img src="{{ person.avatar.url }}" alt="">                        
                                {% else %}
                                    <img src="{% static 'themeforest/img/member-img/member-5.jpg' %}" alt="">
                                {% endif %} {% endcomment %}
                            </div>
                            
                            <!-- Profile Text -->
                            <div class="profile---text-details">
                                <h6 style="color: black;">{{ user.first_name }}</h6>                                
                            </div>
                        </div>
                        <hr class="divider">
                        <!-- Profile List Data -->
                        <a class="profile-list--data" href="{% url 'url_profile' %}">
                            <!-- Profile icon -->
                            <div class="profile--list-icon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <!-- Profile Text -->
                            <div class="notification--list-body-text profile">
                                <h6>Perfil</h6>
                            </div>
                        </a>                     

                        <!-- Profile List Data -->
                        <a class="profile-list--data" href="{% url 'logout' %}">
                            <!-- Profile icon -->
                            <div class="profile--list-icon">
                                <i class="fa fa-sign-out text-danger" aria-hidden="true"></i>
                            </div>
                            <!-- Profile Text -->
                            <div class="notification--list-body-text profile">
                                <h6>Sair</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ###### Layout Container Area ###### -->
        <div class="layout-container-area mt-70">
            <!-- Side Menu Area -->
            <div class="side-menu-area">

                <div class="classy-nav-container breakpoint-off">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="classyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <!--TEM QUE SER SUPERUSUARIO PARA VER ESTA PARTE-->
                                    {% if user.is_superuser %}
                                    <li><a href="#"><i class="icon_drive"></i> Principal</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'url_list_user' %}">-Usuários</a></li>
                                            <li><a href="{% url 'url_companies_list' %}">-Empresas</a></li>
                                            <li><a href="{% url 'url_people_list' %}">-Pessoas</a></li>
                                            <li><a href="{% url 'url_persontypes_list' %}">-Perfis</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icon_bag_alt"></i>Modulo - Laudos Periciais</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'url_typeitems_list' %}">-Autoridades/Quesitos</a></li>
                                            <li><a href="{% url 'url_natureofactions_list' %}">-Naturaza da Ação</a></li>
                                            <li><a href="{% url 'url_reportstatus_list' %}">-Status</a></li>
                                            <li><a href="{% url 'url_medicalspecialties_list' %}">-Especialidade Médicas</a></li>                                            
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <!-- FIM PARTE DO SUPERUSER -->
                                    <li><a href="#"><i class="icon_document_alt"></i>Laudos</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'url_reports_list' %}">-Criar Laudo</a></li>                                           
                                        </ul>
                                    </li>
                                   
                                    <li><a href="#"><i class="icon_document_alt"></i>Modelos</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'url_authorityrequesting_list' %}">-Autoridade Requisitante</a></li>
                                            <li><a href="{% url 'url_locationobjectives_list' %}">-Local e Objetivos</a></li>
                                            <li><a href="{% url 'url_forensicscans_list' %}">-Modelos de Anamnese</a></li>
                                            <li><a href="{% url 'url_discussionconclusions_list' %}">-Discussão e Conclusão</a></li>
                                            <li><a href="{% url 'url_typeitembynatureofactions_list' %}">-Quesitos dos Interessados</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icon_bag_alt"></i>Cadastros</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'url_doctors_list' %}">-Perito(a)(s)</a></li>
                                            <li><a href="{% url 'url_patients_list' %}">-Periciando(a)</a></li>                                           
                                        </ul>
                                    </li>                                    
                                    <li><a href="#"><i class="icon_archive_alt"></i> Pesquisas</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'url_doctorlists_list' %}">Médicos</a></li>
                                            <li><a href="{% url 'url_cid10_list' %}">CID-10</a></li>                                            
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>

            <!-- Layout Container -->
            <div class="layout-container sidemenu-container">
                <!-- Breadcrumb Area -->
                <div class="breadcrumb-area bg-white">
                    <div class="container-fluid">
                         {% block content %}
                        {% endblock content %}
                    </div>
                </div>                             
            </div>
        </div>
    </div>

    <!-- jQuery 2.2.4 -->
    <script src="{% static 'themeforest/assets/js/jquery/jquery.2.2.4.min.js' %}"></script>
    <!-- Bootsrap js -->
    <script src="{% static 'themeforest/assets/js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'themeforest/assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'themeforest/js/plugins-js/classy-nav.js' %}"></script>
    
    {% block js %}
    {% endblock js %}
    
    <!-- Active js -->
    <script src="{% static 'themeforest/js/active.js' %}"></script>    
    
    <!-- NÃO FAZ PARTE DO THEMFOREST -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  
    <!-- DATEPICKER JQUERY-->
    <script src="{% static 'vendor/jquery/jquery-ui/jquery-ui.min.js'%}"></script>
    <script src="{% static 'vendor/jquery/jquery-mask/jquery.mask.min.js'%}"></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  
<script>
  $(function () {
    $(".calendario").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        changeMonth: true,
        changeYear: true,     
        yearRange: '1920:2050'
    });
  });
</script>
<!-- ALGUNS CAMPOS ACEITARAM APENAS NÚMEROS -->
<script>
function somenteNumeros(e) {
        var charCode = e.charCode ? e.charCode : e.keyCode;
        // charCode 8 = backspace   
        // charCode 9 = tab
        if (charCode != 8 && charCode != 9) {
            // charCode 48 equivale a 0   
            // charCode 57 equivale a 9
            if (charCode < 48 || charCode > 57) {
                return false;
            }
        }
    }
</script>



<!-- FIM NÃO FAZ PARTE DO THEMEFOREST -->


</body>

</html>
