{% extends 'core/base.html' %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informações do Perito</h6>
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            {% if user.is_superuser %}
            <a href="{% url 'url_list_user' %}"> <li>Listar todos os usuários</li></a>
            {% endif %}
            <a href="{% url 'url_person_edit' person.id %}"> <li>Alterar Dados Pessoais</li></a>
            <a href="{% url 'password_change' %}"> <li>Alterar senha</li></a>
            <a href="#"> <li>Alterar Foto</li> </a>
            <a href="{% url 'url_show_profile_person_deparment'%}"> <li>Informações da Empresa</li> </a>
        </ul>
    </div>
</div>

{% endblock content %}
