{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informações do Usuário</h6>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'url_list_user'%}" class="btn btn-info float-left">Listar todos</a>
        </div>
        <div class="col-sm-4">
            <h1>{{ user }}</h1>
        </div>
        <div class="col-sm-4">
            <span class="float-right">
                <a href="{% url 'url_edit_user' user.id %}">
                    <button type="button" class="btn btn-success">Editar
                    </button>
                </a>
            </span>
        </div>
    </div>
        <div class="col-sm-12">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th class="text-right">Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Nome</th>
                        <td>{{ user.first_name }} - {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                    <th class="text-right">SuperUser?</th>
                        {% if user.is_superuser %}
                            <td>Sim</td>     
                        {% else %}
                            <td>Não</td>
                        {% endif %}
                     </tr> 
                    <tr> 
                    <th class="text-right">Ativo?</th>
                      {% if user.is_active %}
                        <td>Sim</td>                      
                      {% else %}
                        <td>Não</td>
                      {% endif %}
                    </tr>
                    <tr>
                        <th class="text-right">Último Login</th>
                        <td>{{ user.last_login }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}