{% extends 'core/inicio.html' %}

{% block content %}
<div class="row justify-content-sm-center" >
  <div class="card shadow mb-4 " align="center">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Digite sua nova senha.</h6>
    </div>
    <div class="card-body">
    {% if validlink %}
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crysp }}
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Link inválido. Solicite outro.
        </div>
        <div class="text-center">
        <a class="small" href="{% url 'login' %}">LogIn</a>
      </div>
      
    {% endif %}
      
    </div>
  </div>
 </div>
   

{% endblock content %}