

{% extends 'core/inicio.html' %}

{% block content %}
<div class="row justify-content-sm-center" >
  <div class="card shadow mb-4 " align="center">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitação de troca de senha.</h6>
    </div>
    <div class="card-body">
       <div class="alert alert-success" role="alert">
           Senha alterada com sucesso.
        </div>
        <a href="{% url 'login' %}" class="btn btn-outline-info">LogIn</a>      
    </div>
  </div>
 </div>
   

  

{% endblock content %}