{% extends 'core/base.html' %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cadastro de Usuário</h6>
    </div>
    <div class="card-body">
         <form method="post" novalidate>   
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">    
            <div class="col-sm-6">
                <span class="float-left">
                    <button type="submit" class="btn btn-primary">Salvar</button>  	                              
                </span>
            </div>
            <div class="col-sm-6">
                <span class="float-right">
                    <a href="{% url 'url_list_user' %}" class="btn btn-warning">Voltar</a>
                </span>  
            </div>
        </div>        
        </div>
    </form>
    </div>
    </div>

</div>
   

{% endblock content %}
