{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informações Detalhadas</h6>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'url_people_list'%}" class="btn btn-info float-left">Listar todos</a>
        </div>
        <div class="col-sm-4">
            <h3><strong>{{ person.name }}</strong></h3>
        </div>
        <div class="col-sm-4">
            <span class="float-right">
                <a href="{% url 'url_person_edit' person.id %}">
                    <button type="button" class="btn btn-success">Editar
                    </button>
                </a>
            </span>
        </div>
    </div>
    </br>
        <div class="col-sm-12">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th class="text-right">Foto</th>
                        {% if person.avatar %}
                            <td><img class="img-profile rounded-circle" src="{{ person.avatar.url }}" style="width:100px"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="text-right">Nome</th>
                        <td>{{ person.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Nascimento</th>
                        <td>{{ person.dt_birthday|date:'d-m-Y' }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">CPF</th>
                        <td class="cpf">{{ person.cpf }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Sexo</th>
                        <td>{{ person.get_sex_display }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Natural</th>
                        <td>{{ person.uf_natural }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Estado Civil</th>
                        <td>{{ person.maritalstatus.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">RG</th>
                        <td>{{ person.rg }}</td>
                    </tr> 
                    <tr>
                        <th class="text-right">Expedição-RG</th>
                        <td>{{ person.rg_exped }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">RG-UF</th>
                        <td>{{ person.rg_uf }}</td>
                    </tr>
                                    
                    <tr>
                        <th class="text-right">PIS/PASEP</th>
                        <td>{{ person.pis_pasep }}</td>
                    </tr>    
                    <tr>
                        <th class="text-right">Número do Titulo de Eleitor</th>
                        <td>{{ person.voter_title_num }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Seção Eleitoral</th>
                        <td>{{ person.voter_title_section }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Zona Eleitoral</th>
                        <td>{{ person.voter_title_zone }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">UF - Titulo de Eleitor</th>
                        <td>{{ person.voter_title_uf }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Número da CNH</th>
                        <td>{{ person.cnh_num }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">UF - CNH</th>
                        <td>{{ person.cnh_uf }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Validade da CNH</th>
                        <td>{{ person.cnh_validate}}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Categoria da CNH</th>
                        <td>{{ person.cnh_category}}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Email</th>
                        <td>{{ person.email }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Telefone</th>
                        <td>{{ person.phone}}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">Endereço</th>
                        <td>{{ person.address}} - {{ person.address_num}}, {{person.address_city_uf}} - <span class="cep">{{person.cep}}</span></td>
                    </tr> 
                    <tr>
                        <th class="text-right">Criado por:</th>
                        <td>{{ person.user_created }} - {{ person.created_at }}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">Última Atualização</th>
                        <td>{{ person.user_updated }} - {{ person.updated_at }}</td>
                    </tr>   
                    <tr>
                        <th class="text-right">Dados do Sistema</th>
                        <td>{{ person.ip }} - {{ person.so }} - {{ person.browser }}</td>
                    </tr>                                    
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

<script src="{% static 'vendor/jquery/jquery-mask/jquery.mask.min.js'%}"></script>

<script>
  $(document).ready(function(){
    //$('.date').mask('11/11/1111');
    //$('.time').mask('00:00:00');
    //$('.date_time').mask('00/00/0000 00:00:00');
    $('.cep').mask('00000-000');
    //$('.phone').mask('0000-0000');
    //$('.phone_with_ddd').mask('(00) 0000-0000');
    //$('.phone_with_ddd_cel').mask('(00) 00000-0000');
    //$('.phone_us').mask('(000) 000-0000');
    //$('.mixed').mask('AAA 000-S0S');
    $('.cpf').mask('000.000.000-00', {reverse: true});
    //$('.cnpj').mask('00.000.000/0000-00', {reverse: true});
    //$('.money').mask('000.000.000.000.000,00', {reverse: true});

});
</script>

{% endblock js %}