{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class="alert alert-{{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="m-0 font-weight-bold text-primary">Pessoas Cadastrados</h6>
                </div>
                <div class="col-sm-6">
                  <span class="float-right">
                    <a href="{% url 'url_person_create' %}">
                      <button type="button" class="btn btn-success">Adicionar
                      </button>
                    </a>
                  </span>
              </div>
            </div>
          </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-sm-center">Nome</th>
                      <th class="text-sm-center">Dt_Nascimento</th>
                      <th class="text-sm-center">CPF</th>
                      <th class="text-sm-center">Sexo</th>
                      <th class="text-sm-center">Email</th>
                      <th class="text-sm-center">Telefone</th>
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th class="text-sm-center">Nome</th>
                      <th class="text-sm-center">Dt_Nascimento</th>
                      <th class="text-sm-center">CPF</th>
                      <th class="text-sm-center">Sexo</th>
                      <th class="text-sm-center">Email</th>
                      <th class="text-sm-center">Telefone</th>
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                      <th class="text-sm-center">Opções</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for person in people %}
                    <tr>
                      <td>{{ person.name }}</td>
                      <td>{{ person.dt_birthday|date:'d-m-Y' }}</td>
                      <td>{{ person.cpf }}</td>
                      {% if person.sex == 'M'%}                      
                        <td>{{person.get_sex_display}}</td>     
                      {% else %}
                        <td>{{person.get_sex_display}}</td>     
                      {% endif %}
                      <td>{{ person.email }}</td>                 
                      <td>{{ person.phone }}</td>
                      <td><a href="{% url 'url_person_detail' person.id %}">Detalhes</a></td>
                      <td><a href="{% url 'url_person_edit' person.id %}">Editar</a></td>
                      <td><a href="{% url 'url_person_delete' person.id %}" onclick="return confirm('Tem certeza?')">Deletar</a></td>
                    </tr>                 
                    {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
             


{% endblock content %}

{% block js %}
<script src="{% static 'js/datatables_user.js'%}"> 
</script>
{% endblock js %}
    
