{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informações Detalhadas</h6>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'url_show_departments_company' department.company_id%}" class="btn btn-info float-left">Listar todos</a>
        </div>
        <div class="col-sm-4">
            <h3><strong>{{ department.name }}</strong></h3>
        </div>
        <div class="col-sm-4">
            <span class="float-right">
                <a href="{% url 'url_department_edit' department.id %}">
                    <button type="button" class="btn btn-success">Editar
                    </button>
                </a>
            </span>
        </div>
    </div>
    </br>
        <div class="col-sm-12">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th class="text-right">Nome</th>
                        <td>{{ department.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Sigla</th>
                        <td>{{ department.abbreviation }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Empresa</th>
                        <td>{{ department.company }}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">Criado por:</th>
                        <td>{{ department.user_created }} - {{ department.created_at }}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">Última Atualização</th>
                        <td>{{ department.user_updated }} - {{ department.updated_at }}</td>
                    </tr>   
                                                        
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

<script src="{% static 'vendor/jquery/jquery-mask/jquery.mask.min.js'%}"></script>

<script>
  $(document).ready(function(){
    //$('.date').mask('11/11/1111');
    //$('.time').mask('00:00:00');
    //$('.date_time').mask('00/00/0000 00:00:00');
    $('.cep').mask('00000-000');
    //$('.phone').mask('0000-0000');
    //$('.phone_with_ddd').mask('(00) 0000-0000');
    //$('.phone_with_ddd_cel').mask('(00) 00000-0000');
    //$('.phone_us').mask('(000) 000-0000');
    //$('.mixed').mask('AAA 000-S0S');
    //$('.cpf').mask('000.000.000-00', {reverse: true});
    $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
    //$('.money').mask('000.000.000.000.000,00', {reverse: true});

});
</script>

{% endblock js %}