{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ title }}
{% endblock title %}

{% block content %}

 <div class="row justify-content-sm-center" >
  <div class="card shadow mb-4 " align="center">
    <div class="card-header py-3">
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary">{{ title1 }} {{ company_name }} </h6>
        </div>
        <div class="row">
          <h6 class="m-0 font-weight-bold text-primary">{{ title2 }}</h6>
        </div>                 
    </div>    
    <div class="card-body">       
         {% crispy form %}            
    </div>
  </div>
 </div>
{% endblock content %}
