{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %} {{ title3 }}
{% endblock title %}

{% block content %}

<div class="row justify-content-sm-center">
    <h3>INFORMAÇÕES ANALÍTICA DA EMPRESA <h3>
</div>
<hr class="divider" />

<div class="row">
    <div class="col-sm-6">
        <div class="row justify-content-sm-center" >
                <div class="card w-50 " align="center">
                    <div class="card-header">
                        {{ title1 }}
                    </div>
                    <div class="card-body">
                        {{ company.name }}                        
                    </div>
                </div>
            </div>
    </div>

    <div class="col-sm-6">
        <div class="row justify-content-sm-center" >
            <div class="card w-50 " align="center">
                <div class="card-header">
                    {{ title2 }}
                </div>
                <div class="card-body">
                    {% for dp in department %}
                        {{ dp.name }}<br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="divider" />
    <div class="row justify-content-sm-center" >
        <div class="card w-50 " align="center">
            <div class="card-header">
                {{ title3 }}
            </div>
            <div class="card-body">
                {% for pp in profilepersontypes %}
                    {{ pp.person.name }} <br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}