{% extends 'core/base.html' %}

{% block content %}

<!-- Outros erros -->
{% if form.non_field_errors %}
  <h2>Existe erro</h2>
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
{% endif %}
 
<form method="POST" enctype="multipart/form-data" novalidate>
{% csrf_token %}


<!-- CAMPOS OCULTOS -->
<input type="hidden" name="user" class="form-control" value="{{ user.id }}" id="id_user">
<!-- FIM DOS CAMPOS OCULTOS-->
  <div class="form-row justify-content-center">
      <div class="form-group">
      {{ form.avatar.errors }}
      <label for="form.avatar.label">{{ form.avatar.label_tag }}</label>
      {{ form.avatar }}                
      </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-3">
      {{ form.name.errors }}
      <label for="form.name.label">{{ form.name.label_tag }}</label>
      {{ form.name }}
    </div>

    <div class="form-group col-md-3">
      {{ form.dt_birthday.errors }}
      <label for="form.dt_birthday.label">{{form.dt_birthday.label_tag}}</label>
      {{ form.dt_birthday }}
    </div>    
    <div class="form-group col-md-3">
      {{ form.name_mother.errors }}
      <label for="form.name_mother.label">{{ form.name_mother.label_tag }}</label>
      {{ form.name_mother }}
    </div>
    <div class="form-group col-md-3">
      {{ form.name_father.errors }}
      <label for="form.name_father.label">{{ form.name_father.label_tag }}</label>
      {{ form.name_father }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      {{ form.rg.errors }}
      <label for="form.rg.label">{{form.rg.label_tag}}</label>
      {{ form.rg }}
      {% if form.rg.help_text %}
        <span class="help">{{ form.rg.help_text|safe }}</span>
      {% endif %}
    </div>
    <div class="form-group col-md-3">
      {{ form.rg_uf.errors }}
      <label for="form.rg_uf.label">{{ form.rg_uf.label_tag }}</label>
      {{ form.rg_uf }}
    </div>
    <div class="form-group col-md-3">
      {{ form.rg_exped.errors }}
      <label for="form.rg_exped.label">{{form.rg_exped.label_tag}}</label>
      {{ form.rg_exped }}
      {% if form.rg_exped.help_text %}
        <span class="help">{{ form.rg_exped.help_text|safe }}</span>
      {% endif %}
    </div>
    <div class="form-group col-md-3">
      {{ form.cpf.errors }}
      <label for="form.cpf.label">{{ form.cpf.label_tag }}</label>
      {{ form.cpf }}
      {% if form.cpf.help_text %}
        <p class="help">{{ form.cpf.help_text|safe }}</p>
      {% endif %}
    </div>

  </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ form.sex.errors }}
        <label for="form.sex.label">{{ form.sex.label_tag }}</label>
        {{ form.sex }}
      </div>
      <div class="form-group col-md-3">
        {{ form.uf_natural.errors }}
        <label for="form.uf_natural.label">{{ form.uf_natural.label_tag }}</label>
        {{ form.uf_natural }}
        {% if form.uf_natural.help_text %}
        <p class="help">{{ form.uf_natural.help_text|safe }}</p>
        {% endif %}
      </div>
      <div class="form-group col-md-3">
          {{ form.phone.errors }}
          <label for="form.phone.label">{{ form.phone.label_tag }}</label>
          {{ form.phone }}
          {% if form.phone.help_text %}
            <p class="help">{{ form.phone.help_text|safe }}</p>
          {% endif %}             
        </div>
      <div class="form-group col-md-3">
        {{ form.schooling.errors }}
        <label for="form.schooling.label">{{ form.schooling.label_tag }}</label>
        {{ form.schooling }}
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          {{ form.maritalstatus.errors }}
          <label for="form.maritalstatus.label">{{ form.maritalstatus.label_tag }}</label>
          {{ form.maritalstatus }}
        </div>
        <div class="form-group col-md-3">
          {{ form.religion.errors }}
          <label for="form.religion.label">{{ form.religion.label_tag }}</label>
          {{ form.religion }}
        </div>
        <div class="form-group col-md-3">
          {{ form.situation_inss.errors }}
          <label for="form.situation_inss.label">{{ form.situation_inss.label_tag }}</label>
          {{ form.situation_inss }}
        </div>
        <div class="form-group col-md-3">
          {{ form.email.errors }}
          <label for="form.email.label">{{ form.email.label_tag }}</label>
          {{ form.email }}
        </div>
      </div>

      <div class="form-row">        
        <div class="form-group col-md-3">
          {{ form.address.errors }}
          <label for="form.address.label">{{ form.address.label_tag }}</label>
          {{ form.address }}          
        </div>
        <div class="form-group col-md-3">
          {{ form.address_num.errors }}
          <label for="form.address_num.label">{{ form.address_num.label_tag }}</label>
          {{ form.address_num }}
          {% if form.address_num.help_text %}
            <span class="help">{{ form.address_num.help_text|safe }}</span>
          {% endif %}
        </div>
        <div class="form-group col-md-3">
          {{ form.address_city_uf.errors }}
          <label for="form.address_city_uf.label">{{ form.address_city_uf.label_tag }}</label>
          {{ form.address_city_uf }}
          {% if form.address_city_uf.help_text %}
            <p class="help">{{ form.address_city_uf.help_text|safe }}</p>
          {% endif %}
        </div>
        <div class="form-group col-md-3">
          {{ form.cep.errors }}
          <label for="form.cep.label">{{ form.cep.label_tag }}</label>
          {{ form.cep }}
          {% if form.cep.help_text %}
            <p class="help">{{ form.cep.help_text|safe }}</p>
          {% endif %}
        </div>
      </div>

      <div class="form-row">    
        <div class="form-group col-md-3">
          {{ form.blood_type.errors }}
          <label for="form.blood_type.label">{{ form.blood_type.label_tag }}</label>
          {{ form.blood_type }}
        </div>
        <div class="form-group col-md-3">
          {{ form.blood_rh.errors }}
          <label for="form.blood_rh.label">{{ form.blood_rh.label_tag }}</label>
          {{ form.blood_rh }}
        </div>        
        <div class="form-group col-md-3">
          {{ form.origin.errors }}
          <label for="form.origin.label">{{ form.origin.label_tag }}</label>
          {{ form.origin }}
        </div>
      </div>

      <div class="form-row">        
        <div class="form-group col-md-3">
          {{ form.scort.errors }}
          <label for="form.scort.label">{{ form.scort.label_tag }}</label>
          {{ form.scort }}
        </div>
        <div class="form-group col-md-3">
          {{ form.scort_type.errors }}
          <label for="form.scort_type.label">{{ form.scort_type.label_tag }}</label>
          {{ form.scort_type }}
        </div>        
      </div>

  <div class="row">    
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary">Salvar</button>  	  
      <button type="reset" class="btn btn-secondary">Limpar formulário</button>
    </div>
    <div class="col-sm-6">
      <span class="float-right">
        <a href="{% url 'url_patients_list'%}" class="btn btn-warning">Voltar</a>
      </span>  
    </div>
  </div>
</form>
    
{% endblock content %}

{% block js %}

<script>
$(document).ready(function(){ 
            $(".cidade_estado").autocomplete({                
                source: "/patient/autocomplete_states",
                minLength: 2,             
              });       
});
</script>

{% endblock js %}