{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informações Detalhadas</h6>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'url_doctorlists_list'%}" class="btn btn-info float-left">Listar todos</a>
        </div>
        <div class="col-sm-4">
            <h3><strong>{{ cid }}</strong></h3>
        </div>
        <div class="col-sm-4">
            <span class="float-right">
               
            </span>
        </div>
    </div>
    </br>
        <div class="col-sm-12">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th class="text-right">Categoria</th>
                        <td>{{ cid.category }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Descrição</th>
                        <td>{{ cid.description }}</td>
                    </tr>                                                       
                    <tr>
                        <th class="text-right">Criado em:</th>
                         <td>{{ cid.created_at }}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">Última Atualização</th>
                        <td>{{ cid.updated_at }}</td>
                    </tr>   
                                                        
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}

